#outer-box {
  background-color: @theme_base_color;
  border: 2px solid @borders;
}

#input {
  background-color: @theme_base_color;
  border: 2px solid @borders;
  border-radius: 0;
}

#inner-box {
  background-color: @theme_base_color;
}
