* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Hack Nerd Font, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
    background-color: rgba(23, 15, 14, 1);
    color: #ffd9d7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  margin: 4px 4px;
  background-color: #372e2e;
  color: #ffd9d7;
  border-radius: 10%;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #372e2e;
}

#workspaces button.focused {
  background-color: #ffd9d7;
  color: #372e2e;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#custom-light,
#tray,
#mode,
#language,
#idle_inhibitor {
  padding: 0 10px;
  margin: 4px 4px;
  background-color: #ffd9d7;
  color: #372e2e;
  border-radius: 10%;
}

#idle_inhibitor, #custom-light {
  padding: 0 18px 0 15px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tray {
    margin-right: 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #372e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
  background-color: #ffd9d7;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #372e2e;
  color: #ffd9d7;
}

#idle_inhibitor.activated {
  background-color: #ffd9d7;
  color: #372e2e;
}
