* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
}

window#waybar {
  background: @theme_base_color;
  border-bottom: 1px solid @unfocused_borders;
  color: @theme_text_color;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding-left: 10px;
}

#custom-pmenu {
  padding-right: 10px;
}

#workspaces button {
  padding: 0 5px;
  margin: 5px 2px;
  background-color: @theme_bg_color;
  color: @theme_text_color;
  border-radius: 9999;
}

#workspaces button:hover {
  color: #000000;
}

#workspaces button.focused {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

#workspaces button.urgent {
  background-color: @warning_color;
}
